.contacts {
  position: relative;
  padding: 120px 0 90px 0;
  .placeholder {
    position: absolute;
    top: 30px;
    font-size: 15px;
    left: 20px;
    color: #999;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  &_wrapper {
    padding: 0 35px 0 52px;
    display: grid;
    grid-template-columns: 550px 600px;
    justify-content: space-between;
  }
  &_photo {
    img {
      margin-top: 20px;
      width: 400px;
      height: 600px;
    }
  }
  &_descr {
    padding-top: 100px;
    .divider {
      margin: 0;
    }
  }
  &_title {
    position: relative;
    padding-left: 12px;
    padding-top: 1px;
    padding: 1px 0 0 12px;
    @include before_circle;
  }
  &_text {
    margin-top: 18px;
  }
  &_social {
    margin-top: 8px;
  }
  &_link {
    margin-right: 25px;
    img {
      max-width: 60px;
      max-height: 60px;
    }
  }
  &_form {
    margin-top: 30px;
    display: grid;
    grid-template: 45px 190px 45px / repeat(2, 280px);
    justify-content: space-between;
    row-gap: 41px;
    label {
      display: block;
      position: absolute;
      height: 18px;
      padding: 0 8px;
      background-color: #fff;
      font-size: 12px;
      top: -9px;
      left: 12px;
    }
  }

  &_input {
    position: relative;
    input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-size: 14px;
    }
  }
  &_textarea {
    position: relative;
    grid-column: 1/3;
    textarea {
      width: 400px;
      height: 130px;
      resize: none;
      padding: 10px 20px;
      font-size: 14px;
    }
  }
  &_btn {
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #f8e8d9;
    margin-top: 80px;
  }
}
