@media (max-width: 1480px) {
  .container {
    max-width: 1100px;
  }
  .sidepanel {
    top: 230px;
    left: 0;
    right: 1300px;
  }
  .contacts_wrapper {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@media (max-width: 1420px) {
  .container {
    max-width: 1000px;
  }
  .promo_header {
    margin-left: 58%;
    width: 300px;
  }
  .sidepanel {
    top: 230px;
    left: 0;
    right: 1200px;
  }
  .title_fz48 {
    font-size: 36px;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 950px;
  }

  .stack_tecn {
    grid-template-columns: repeat(auto-fit, 280px);
    padding-left: 20%;
  }
}

@media (max-width: 1200px) {
  .promo .promo_header .promo_subtitle {
    font-size: 45px;
  }
  .promo {
    min-height: 70vh;
  }
}

@media (max-width: 1200px) {
  .promo_header {
    margin-left: 55%;
    width: 300px;
  }

  .promo .promo_header .promo_subtitle {
    font-size: 35px;
  }
  .sidepanel {
    display: none;
  }
  .about {
    &_wrapper {
      grid-template-columns: repeat(auto-fit, 300px);
      column-gap: 40px;
    }
    &_skills {
      column-gap: 20px;
      grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
      &-item {
        grid-template-columns: 40px 195px;
        column-gap: 15px;
      }
    }
  }
  .divider {
    display: none;
  }
  .resume_title {
    margin-bottom: 30px;
  }
  .contacts_wrapper {
    grid-template-columns: 500px;
    padding-left: 100px;
    justify-content: space-between;
  }
  .stack_tecn {
    grid-template-columns: repeat(auto-fit, 280px);
    padding-left: 8%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 600px;
  }
  .title {
    &_fz36 {
      font-size: 30px;
    }
  }

  .promo_header {
    display: none;
  }
  .sidepanel {
    display: none;
  }
  .about {
    padding-top: 56px;

    &_wrapper {
      grid-template-columns: 250px 390px;
    }
    &_skills {
      grid-template-columns: 360px;
      grid-auto-rows: minmax(115px, auto);
      &-item {
        grid-template-columns: 40px 320px;
        column-gap: 20px;
      }
    }
  }
  .divider {
    display: none;
  }
  .resume_title {
    margin-bottom: 30px;
  }
  .resume_line .resume_text {
    width: 600px;
  }
  .stack_tecn {
    grid-template-columns: repeat(auto-fit, 450px);
  }
  .contacts_wrapper {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  .sidepanel {
    display: none;
  }

  .promo_header {
    display: none;
  }
  .about {
    padding-left: 5%;
    padding-top: 40px;
    &_photo img {
      width: 390px;
      height: 590px;
    }
    &_skills {
      grid-template-columns: repeat(2, 260px);
      &-item {
        grid-template-columns: 40px 200px;
        column-gap: 20px;
      }
    }
    &_wrapper {
      grid-template: 400px / 2fr;
    }
  }
  .divider {
    display: none;
  }
  .resume {
    display: none;
  }
  .stack_tecn {
    grid-template-columns: repeat(auto-fit, 300px);
  }
  .contacts {
    &_descr {
      padding-top: 5px;
      padding-left: 30%;
    }
    &_photo img {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .promo {
    min-height: 60vh;
  }
  .container {
    width: 90%;
    display: block;
  }
  .stack_tecn {
    display: block;
    text-align: center;
  }
  .title {
    &_fz48 {
      font-size: 26px;
    }
    &_fz36 {
      font-size: 24px;
    }
  }
  .sidepanel {
    display: none;
  }
  .promo_header {
    display: none;
  }
  .about {
    &_photo img {
      width: 350px;
      height: 530px;
      display: block;
      margin: 0 auto;
    }
    &_wrapper {
      grid-template: 340px auto auto / 1fr;
    }
    &_skills {
      grid-template-columns: 1fr;
    }
  }

  .divider {
    display: none;
  }
  .resume_title {
    margin-bottom: 30px;
  }
  .contacts {
    padding-left: 20%;
    &_textarea textarea {
      width: 350px;
    }
    &_descr {
      padding-left: 5px;
    }
  }
}

@media (max-width: 515px) {
  .contacts_form {
    display: none;
  }
  .promo {
    min-height: 30vh;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .promo {
    display: none;
  }
}
