.portfolio .my-portfolio {
  margin-top: 20px; /* Increase the top margin */
}

.portfolio_subtitle {
  position: relative;
  text-align: center;
}
.portfolio_title {
  position: relative;
  text-align: center;
  @include before_circle;
  &::before {
    top: -7px;
    left: 48%;
    transform: translateX(-45%);
  }
}
